body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-grow: 1;
  flex-shrink: 1;
  width: 80vw;
  height: 200px;
}

.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 120px;
}

.result a {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  flex-shrink: 1;
  text-align: center;
}

.track {
  margin-bottom: 2px;
}

.artist {
  margin-top: 2px;
}
