body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {

}

.audio {
  display: flex;
  width: 80vw;
  /*height: 40px;*/
  justify-content: center;
}

#audio {
  width: 80vw;
  padding: 20px;
}

.search_wrapper {
  display: flex;
  flex-direction: row;
  width: 80vw;
  justify-content: center;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
  padding: 15px;
  align-items: center;
}

#search_terms {
  width: 50vw;
  line-height: 30px;
}

#submit {
  width: 80px;
  margin: 5px;
  height: 30px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-grow: 1;
  flex-shrink: 1;
  width: 80vw;
  height: 200px;
}

.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 120px;
}

.result a {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  flex-shrink: 1;
  text-align: center;
}

.track {
  margin-bottom: 2px;
}

.artist {
  margin-top: 2px;
}
